/* Acá va tu código */

body {
    background-color:#8B008B;
    margin: 0;
    font-family: 'Open sans', sans-serif;
     }

     #welcome{
        font-family: 'Impact', Charcoal, sans-serif;
        color:#000000;
     }
#content {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  #firstScreen {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
       }

#createAnAccount {
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Impact', Charcoal, sans-serif;
    color: #fff;
    background-color:#9fd5d1 ;
    margin: auto;
    display: flex; 
    justify-content: center;
  }

  #chooseAnOption {
    font-family: 'Impact', Charcoal, sans-serif;
    color:#000000;



  }


  #login {
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Impact', Charcoal, sans-serif;
    color: #fff;
    background-color:#9fd5d1 ;
    margin: auto;
    display: flex; 
    justify-content: center;
  }

    #encode  {
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Impact', Charcoal, sans-serif;
    color: #fff;
    background-color: #ff0080;
    margin: auto;
    display: flex; 
    justify-content: center;

  }
  
  
  #decode  {
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 25px;
    font-family: 'Impact', Charcoal, sans-serif;
    color: #fff;
    background-color: #ff0080;
    margin: auto;
    display: flex; 
    justify-content: center;
  }

  #encodeScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  
  }

    

    



     

     #decodeScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
         }